.card {
  background: #EFEFEF;
  padding: 68px 15px 37px;
}

.card__heading01 {
  position: relative;
  line-height: 1.28;
  padding: 0 0 44px;
  margin: 0 0  48px 0;
  color: #333333;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.card__heading01::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 76px;
  height: 5px;
  background: #3F51B5;
}

.card__container {
  max-width: 100%;
}

.card__container .card__list {
  max-width: 100%;
  width: 1116px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card__container .card__list .card__list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(33.3% - 30px / 1.5);
  min-height: 355px;
  padding: 16px;
  margin: 20px 30px 0 0;
  background: #FFFFFF;
}

.card__container .card__list .card__list__item:nth-child(3n) {
  margin-right: 0;
}

@media screen and (max-width: 959px) {
  .card__container .card__list .card__list__item {
    width: calc(50% - 30px / 2);
  }
  .card__container .card__list .card__list__item:nth-child(2n) {
    margin-right: 0;
  }
  .card__container .card__list .card__list__item:nth-child(3n) {
    margin-right: 30px;
  }
}

@media screen and (max-width: 559px) {
  .card__container .card__list .card__list__item {
    width: 100%;
    margin-right: 0;
  }
  .card__container .card__list .card__list__item:nth-child(3n) {
    margin-right: 0;
  }
}

.card__container .card__list .card__list__item .card__list__item__img .card__list__item__img__link {
  color: #FFFFFF;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.card__container .card__list .card__list__item .card__list__item__img .card__list__item__img__link:hover {
  opacity: 0.7;
}

.card__container .card__list .card__list__item .card__list__item__img img {
  width: 100%;
}

.card__container .card__list .card__list__item .card__list__item__dl .card__list__item__dt {
  margin: 26px 0 0 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  color: #6F7579;
}

.card__container .card__list .card__list__item .card__list__item__dl .card__list__item__dt .card__list__item__dt__link {
  color: #6F7579;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.card__container .card__list .card__list__item .card__list__item__dl .card__list__item__dt .card__list__item__dt__link:hover {
  opacity: 0.7;
}

.card__container .card__list .card__list__item .card__list__item__dl .card__list__item__dd {
  margin: 20px 0 0 0;
  color: #6F7579;
  font-weight: bold;
}
