.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mt25 {
  margin-top: 25px;
}

.mt30 {
  margin-top: 30px;
}

.mt35 {
  margin-top: 35px;
}

.mt40 {
  margin-top: 40px;
}

.mt45 {
  margin-top: 45px;
}

.mt50 {
  margin-top: 50px;
}

.center {
  text-align: center;
}

.oddOuter {
  background: #EFEFEF;
  padding: 68px 15px 142px;
}

.evenOuter {
  background: #fff;
  padding: 68px 15px 142px;
}

.idxHeading01 {
  position: relative;
  line-height: 1.28;
  padding: 0 0 48px;
  margin: 0 0  46px 0;
  color: #333333;
  font-size: 6rem;
  font-weight: bold;
  text-align: center;
}

.idxHeading01::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  width: 76px;
  height: 5px;
  background: #3F51B5;
}

.idxContainer {
  max-width: 100%;
}

.card__list {
  max-width: 100%;
  width: 1116px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.card__list .card__list__item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 342px;
  width: calc(33.333% - 30px);
  min-height: 355px;
  padding: 16px;
  margin: 20px 15px 0 15px;
  background: #FFFFFF;
}

@media screen and (max-width: 959px) {
  .card__list .card__list__item {
    max-width: inherit;
    width: calc(50% - 30px);
  }
}

@media screen and (max-width: 559px) {
  .card__list .card__list__item {
    width: 100%;
    margin-right: 0;
    margin-left: 0;
  }
}

.card__list .card__list__item .card__list__item__img .card__list__item__img__link {
  color: #FFFFFF;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.card__list .card__list__item .card__list__item__img .card__list__item__img__link:hover {
  opacity: 0.7;
}

.card__list .card__list__item .card__list__item__img img {
  width: 100%;
}

.card__list .card__list__item .card__list__item__dl .card__list__item__dt {
  margin: 26px 0 0 0;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  color: #6F7579;
}

.card__list .card__list__item .card__list__item__dl .card__list__item__dt .card__list__item__dt__link {
  color: #6F7579;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.card__list .card__list__item .card__list__item__dl .card__list__item__dt .card__list__item__dt__link:hover {
  opacity: 0.7;
}

.card__list .card__list__item .card__list__item__dl .card__list__item__dd {
  margin: 20px 0 0 0;
  color: #6F7579;
  font-weight: bold;
  line-height: 1.525;
}

.news__list {
  width: 838px;
  max-width: 98%;
  margin: auto;
  padding: 13px 0 0;
}

.news__list .news__list__item {
  padding: 1.85rem 0 1.6rem 0;
  border-top: 1px solid #707070;
}

.news__list .news__list__item:first-child {
  border-top: 0;
}

@media screen and (max-width: 959px) {
  .news__list .news__list__item {
    padding: 2.05rem 0 1.55rem 0;
  }
}

.news__list .news__list__item .news__list__item__dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 959px) {
  .news__list .news__list__item .news__list__item__dl {
    display: block;
  }
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dt {
  min-width: 123px;
  padding: 0.2rem 0.75rem 0 0.75rem;
}

@media screen and (max-width: 959px) {
  .news__list .news__list__item .news__list__item__dl .news__list__item__dt {
    display: block;
    padding: 0 0 0.75rem 0;
  }
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media screen and (max-width: 959px) {
  .news__list .news__list__item .news__list__item__dl .news__list__item__dd {
    display: block;
    padding: 0;
  }
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__label {
  min-width: 100px;
  display: inline-block;
  background: #3F51B5;
  border-radius: 6px;
  color: #fff;
  padding: 0.3rem 0.3rem 0.2rem 0.3rem;
  margin: 0 0.5rem 0 0;
  text-align: center;
  font-weight: bold;
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__label.label-normal {
  background: #666666;
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__label.label-alert {
  background: #E81919;
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__text {
  max-width: 100%;
  padding: 0.2rem 0 0 2.5rem;
}

@media screen and (max-width: 959px) {
  .news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__text {
    display: block;
    padding: 0.5rem 0 0 0;
  }
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__text .news__list__item__text__link {
  color: #333333;
  border-bottom: transparent 1px solid;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.news__list .news__list__item .news__list__item__dl .news__list__item__dd .news__list__item__text .news__list__item__text__link:hover {
  border-bottom: #333 1px solid;
}

#news {
  padding-bottom: 30px;
}

.news__more {
  margin-top: 1.7rem;
  text-align: center;
}

.news__more__link {
  font-weight: bold;
  display: inline-block;
  color: #E81919;
  position: relative;
}

.news__more__link::before {
  content: "";
  position: absolute;
  right: -1.5rem;
  top: 0.9rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  background: #E81919;
  border-radius: 2px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.news__more__link::after {
  content: "";
  position: absolute;
  right: -1.5rem;
  top: 1.4rem;
  display: block;
  width: 1rem;
  height: 0.3rem;
  background: #E81919;
  border-radius: 2px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#price {
  padding-top: 59px;
  padding-bottom: 97px;
}

.topicFeature {
  max-width: 100%;
  width: 1088px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 69px auto 0;
}

@media screen and (max-width: 959px) {
  .topicFeature {
    display: block;
  }
}

.topicFeature__image {
  margin: 0 20px 0 0;
  text-align: center;
}

@media screen and (max-width: 959px) {
  .topicFeature__image {
    margin: 0 auto 20px;
  }
}

.topicFeature__image img {
  width: 360px;
  max-width: 100%;
}

.topicFeature__tableWrap .topicFeature__table {
  max-width: 100%;
  width: 606px;
  background: #fff;
  border-left: 1px solid #707070;
  border-bottom: 1px solid #707070;
}

@media screen and (max-width: 959px) {
  .topicFeature__tableWrap .topicFeature__table {
    width: 100%;
  }
}

.topicFeature__tableWrap .topicFeature__table caption {
  caption-side: bottom;
  text-align: start;
}

.topicFeature__tableWrap .topicFeature__table caption .topicFeature__table__caption__list {
  margin: 20px 0 0 0;
}

.topicFeature__tableWrap .topicFeature__table caption .topicFeature__table__caption__list .topicFeature__table__caption__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.topicFeature__tableWrap .topicFeature__table caption .topicFeature__table__caption__list .topicFeature__table__caption__list__item__caution {
  margin-right: 0.5rem;
}

.topicFeature__tableWrap .topicFeature__table caption .topicFeature__table__caption__list .topicFeature__table__caption__list__item__link {
  color: #333;
  border-bottom: 1px solid #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.topicFeature__tableWrap .topicFeature__table caption .topicFeature__table__caption__list .topicFeature__table__caption__list__item__link:hover {
  border-bottom: 1px solid transparent;
}

.topicFeature__tableWrap .topicFeature__table tr th {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 224px;
  max-width: 100%;
  background: #999999;
  color: #fff;
  font-weight: bold;
  padding: 0.9rem 0.5rem;
  vertical-align: middle;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  text-align: center;
}

.topicFeature__tableWrap .topicFeature__table tr th:first-child {
  width: 160px;
}

.topicFeature__tableWrap .topicFeature__table tr td {
  padding: 1.2rem 0.5rem;
  max-width: 100%;
  vertical-align: middle;
  border-top: 1px solid #707070;
  border-right: 1px solid #707070;
  text-align: right;
}

.topicFeature__tableWrap .topicFeature__table tr td .text-danger {
  color: #E82F33;
}

.map {
  width: 800px;
  max-width: 100%;
  margin: 93px auto 0;
}

.map__inner .map__embedded {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.map__inner .map__embedded__inner {
  position: relative;
  padding-bottom: 50%;
}

.map__inner .map__embedded__inner iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.map__inner .map__detail {
  padding: 3.16rem 4.16rem 3.185rem 4.16rem;
}

.map__inner .map__detail .map__dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media screen and (max-width: 559px) {
  .map__inner .map__detail .map__dl {
    display: block;
  }
}

.map__inner .map__detail .map__dl > dt {
  width: 118px;
  max-width: 16.39%;
  margin-top: 1rem;
}

@media screen and (max-width: 559px) {
  .map__inner .map__detail .map__dl > dt {
    width: 100%;
    max-width: initial;
  }
}

.map__inner .map__detail .map__dl > dd {
  width: 602px;
  max-width: 83.61%;
  margin-top: 1rem;
}

@media screen and (max-width: 559px) {
  .map__inner .map__detail .map__dl > dd {
    width: 100%;
    max-width: initial;
  }
}

.buttonPattern02 {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 305px;
  padding: 1.5rem 3.5rem 1.5rem 1.6rem;
  background: #3F51B5;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.625;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.buttonPattern02:hover {
  background: #32408f;
}

.buttonPattern02::before {
  position: absolute;
  content: "";
  right: 1.6rem;
  top: 2.2rem;
  display: block;
  width: 1.3rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.buttonPattern02::after {
  position: absolute;
  content: "";
  right: 1.6rem;
  top: 3rem;
  display: block;
  width: 1.3rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.contact {
  width: 800px;
  max-width: 100%;
  margin: auto;
}

.contact__inner .contact__form {
  width: 800px;
  max-width: 100%;
  margin: auto;
  padding: 5.2rem;
  background: #fff;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form {
    padding: 1.5rem;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 4.8rem 0 0 0;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form .contact__form__list .contact__form__list__item {
    display: block;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__property {
  margin: 1.7rem 0 0;
  width: 177px;
  max-width: 100%;
  font-size: 1.8rem;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__property {
    margin: 0 0 1rem;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__property .contact__form__property__icon {
  display: block;
  width: 2.8em;
  font-size: 1.4rem;
  padding: 0 0.5rem;
  border-radius: 10px;
  background: #E81919;
  color: #fff;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__property .contact__form__property__icon {
    display: inline-block;
    margin: 0 0 0 1rem;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value {
  margin: 0 0 0 1rem;
  width: 528px;
  max-width: 100%;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value {
    margin: 0;
    width: 100%;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: transparent url(https://haniwaman.com/wp-content/uploads/2018/12/form-css-arrow.png) no-repeat center right 8px/16px 16px;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  padding: 1.7rem 0.8em;
  width: 100%;
  color: #ccc;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > select::-ms-expand {
  display: none;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > select:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 1.7rem 0.8em;
  width: 100%;
  /* IE */
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input::-moz-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input::placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > input:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid #707070;
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 240px;
  padding: 0.4em 0.8em;
  width: 100%;
  /* IE */
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea:focus {
  border: 1px solid rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea::-webkit-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea::-moz-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea:-ms-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea::-ms-input-placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea::placeholder {
  color: #CCCCCC;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__value > textarea:-ms-input-placeholder {
  color: #CCCCCC;
}

@media screen and (max-width: 959px) {
  .contact__inner .contact__form .contact__form__list .contact__form__list__item label {
    display: block;
    margin: 1.5rem 0 0;
  }
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__radio {
  display: none;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__radio + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 2rem 0 0;
  padding: 0 0 0 4rem;
  position: relative;
  color: #333;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__radio + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  border-radius: 50%;
  content: "";
  display: block;
  height: 30px;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__radio + span::after {
  -webkit-transform: translateY(-50%);
  background: #3F51B5;
  border: 1px solid transparent;
  border-radius: 50%;
  content: "";
  height: 18px;
  left: 6px;
  opacity: 0;
  padding: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 18px;
}

.contact__inner .contact__form .contact__form__list .contact__form__list__item .contact__form__radio:checked + span::after {
  opacity: 1;
}

.contact__inner .contact__form .contact__form__check {
  display: none;
}

.contact__inner .contact__form .contact__form__check + span {
  cursor: pointer;
  display: inline-block;
  margin: 0 0.2em 0;
  padding: 0 0 0 5.2rem;
  position: relative;
}

.contact__inner .contact__form .contact__form__check + span .contact__form__check_link {
  border-bottom: 1px solid #333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #333;
}

.contact__inner .contact__form .contact__form__check + span .contact__form__check_link:hover {
  border-bottom: transparent 1px solid;
}

.contact__inner .contact__form .contact__form__check + span::before {
  -webkit-transform: translateY(-50%);
  background: #fff;
  border: 1px solid #707070;
  content: "";
  display: block;
  height: 3rem;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
}

.contact__inner .contact__form .contact__form__check + span::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
  border-bottom: 5px solid #3F51B5;
  border-left: 5px solid #3F51B5;
  content: "";
  display: block;
  height: 0.8em;
  left: .4rem;
  margin-top: -0.2em;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 1.4em;
}

.contact__inner .contact__form .contact__form__check:checked + span::after {
  opacity: 1;
}

.contact__inner .contact__form .submitWrap {
  position: relative;
  display: inline-block;
  width: 261px;
  max-width: 100%;
  margin: auto;
}

.contact__inner .contact__form .submitWrap::before {
  position: absolute;
  content: "";
  right: 1.6rem;
  top: 2.2rem;
  display: block;
  width: 1.3rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  z-index: 1;
}

.contact__inner .contact__form .submitWrap::after {
  position: absolute;
  content: "";
  right: 1.6rem;
  top: 3rem;
  display: block;
  width: 1.3rem;
  height: 0.4rem;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
}

.contact__inner .contact__form .contact__form__submit {
  -webkit-appearance: none;
  background-image: none;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  text-decoration: none;
  position: relative;
  max-width: 100%;
  width: 261px;
  padding: 1.5rem 3.5rem 1.5rem 1.6rem;
  background: #3F51B5;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 1.625;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.contact__inner .contact__form .contact__form__submit:hover {
  outline: none;
  background: #32408f;
}

.contact__inner .contact__form .contact__form__submit:focus {
  outline: none;
}

.contact__inner .contact__form .contact__form__submit::-moz-focus-inner {
  border: none;
  padding: 0;
}

footer {
  background: transparent -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333)) 0% 0% no-repeat padding-box;
  background: transparent -webkit-linear-gradient(top, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  background: transparent linear-gradient(180deg, #666666 0%, #333333 100%) 0% 0% no-repeat padding-box;
  padding: 74px 20px 32px;
}

footer .footerInner {
  width: 923px;
  max-width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media screen and (max-width: 959px) {
  footer .footerInner {
    display: block;
  }
}

footer .footer_address {
  width: 240px;
  max-width: 100%;
}

@media screen and (max-width: 959px) {
  footer .footer_address {
    margin: auto;
  }
}

footer .footer_address .footer_address_dl {
  margin: 30px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

footer .footer_address .footer_address_dl .footer_address_dt {
  color: #fff;
  width: 3em;
  max-width: 100%;
}

footer .footer_address .footer_address_dl .footer_address_dd {
  color: #fff;
  width: calc(100% - 3em);
}

footer .footer_nav {
  width: 400px;
  max-width: 100%;
}

@media screen and (max-width: 959px) {
  footer .footer_nav {
    margin: 3rem auto 0;
  }
}

footer .footer_nav nav .footer_nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

@media screen and (max-width: 959px) {
  footer .footer_nav nav .footer_nav_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

footer .footer_nav nav .footer_nav_list_item {
  margin: 0 0 0 30px;
}

@media screen and (max-width: 959px) {
  footer .footer_nav nav .footer_nav_list_item {
    margin: 0;
  }
}

footer .footer_nav nav .footer_nav_list_item:first-child {
  margin: 0;
}

footer .footer_nav nav .footer_nav_list_item a {
  color: #fff;
}

footer .footer_sns {
  width: 140px;
  max-width: 100%;
}

@media screen and (max-width: 959px) {
  footer .footer_sns {
    margin: 3rem auto 0;
  }
}

footer .footer_sns .footer_sns_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

footer .footer_sns .footer_sns_list_item {
  margin: 0 16px 0 0;
}

footer .footer_sns .footer_sns_list_item_icon {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

footer .footer_sns .footer_sns_list_item_icon.twitter {
  background: #55ACEE;
}

footer .footer_sns .footer_sns_list_item_icon.facebook {
  background: #3B5998;
}

footer .footer_sns .footer_sns_list_item_icon.pocket {
  background: #D93177;
}

footer .copyright {
  text-align: center;
  margin: 87px 0 0 0;
}

footer .copyright small {
  color: #fff;
  font-size: 1.4rem;
}

footer .pagetop {
  position: fixed;
  bottom: 14px;
  right: 19px;
}

footer .pagetop a {
  position: relative;
  display: block;
  background: #3843A9;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 60px;
  height: 60px;
}

footer .pagetop a::before {
  position: absolute;
  content: "";
  left: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 20px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  z-index: 1;
}

footer .pagetop a::after {
  position: absolute;
  content: "";
  right: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 20px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  z-index: 1;
}
