html {
  overflow: auto;
  font-size: 62.5%;
}

body {
  overflow: hidden;
  font-size: 1.6rem;
  font-family: 'Yu Gothic';
  line-height: 1.6;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

@media screen and (max-width: 959px) {
  .wrap {
    max-width: initial;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

header {
  position: fixed;
  top: 0;
  background: #3F51B5;
  width: 100%;
  -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
  z-index: 100;
}

@media screen and (max-width: 959px) {
  header {
    max-width: initial;
  }
}

header .inner {
  margin: 0 auto;
  max-width: 96%;
  width: 1086px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 30px 0;
}

@media screen and (max-width: 559px) {
  header .inner {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 1% 2%;
  }
}

header .inner .logo {
  margin-right: 20px;
  width: 200px;
}

@media screen and (max-width: 559px) {
  header .inner .logo {
    margin-right: 0;
  }
}

@media screen and (max-width: 559px) {
  header .inner .global-nav {
    display: none;
  }
}

header .inner .global-nav .global-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .inner .global-nav .global-nav__list > .global-nav__list__item {
  margin: 0 0 0 30px;
}

header .inner .global-nav .global-nav__list > .global-nav__list__item:first-child {
  margin: 0;
}

header .inner .global-nav .global-nav__list > .global-nav__list__item > a {
  color: #FFFFFF;
}

header .inner .global-nav .global-nav__list > .global-nav__list__item > a:hover {
  text-decoration: none;
  padding-bottom: 5px;
  border-bottom: 3px solid #E81919;
}

.mv {
  padding: 101px 0 0;
  background: url(../img/mainvisual.png) no-repeat center bottom;
}

@media screen and (max-width: 559px) {
  .mv {
    padding-top: calc(39px + 2%);
    background-position: top;
  }
}

.mv .readbox {
  position: relative;
  top: 0;
  left: 0;
  width: 800px;
  max-width: 95%;
  margin: 0 auto;
  padding: 150px 0 140px;
  text-align: center;
}

@media screen and (max-width: 559px) {
  .mv .readbox {
    padding: 10% 0 10%;
  }
}

.mv .readbox .readbox__heading01 {
  line-height: 1.28;
  font-weight: bold;
  font-size: 6.8rem;
}

@media screen and (max-width: 559px) {
  .mv .readbox .readbox__heading01 {
    font-size: 4rem;
  }
}

.mv .readbox .readbox__heading01 .readbox__heading01__span {
  display: inline-block;
  text-align: center;
}

.mv .readbox .readbox__readtext {
  line-height: 1.29;
  margin-top: 12px;
  font-size: 3.8rem;
}

@media screen and (max-width: 559px) {
  .mv .readbox .readbox__readtext {
    font-size: 2rem;
  }
}

.mv .readbox .readbox__readtext .readbox__readtext__span {
  display: inline-block;
  text-align: center;
}

.mv .readbox .readbox__btn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  width: 390px;
  margin: 82px 0 0;
  padding: 17px 20px;
  border-radius: 12px;
  background: #3F51B5;
  color: #FFFFFF;
  line-height: 1.29;
  font-size: 3.8rem;
  font-weight: bold;
  text-align: center;
  -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.mv .readbox .readbox__btn:hover {
  background: #32408f;
}

@media screen and (max-width: 559px) {
  .mv .readbox .readbox__btn {
    width: 80%;
    font-size: 2rem;
  }
}

.mv .readbox .readbox__btn .readbox__btn__text {
  display: inline-block;
  text-align: left;
}
