@import "./_variable.scss";

header{
    position: fixed;
    top:0;
    background:$theme_blue;
    width: 100%;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.16);
    z-index: 100;
    @include mq(){
        max-width: initial;
    }
    .inner{
        margin: 0 auto;
        max-width: 96%;
        width: 1088px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 30px 0;
        @include mq(sm){
            box-sizing: border-box;
            height:60px;
            justify-content: flex-start;
            padding: 1% 2%;
        }
        .logo{
            margin-right: 20px;
            width: 200px;
            @include mq(sm){
                margin-right: 0;
            }
        }
        .global-nav{
            @include mq(sm){
                display: block;
            }
            .global-nav__list{
                display: flex;
                flex-wrap: wrap;
                @include mq(sm){
                    display: block;
                    margin: 0;
                }
                &>.global-nav__list__item{
                    margin: 0 0 0 30px;
                    @include mq(sm){
                        border-bottom: 1px dotted #333;
                        margin: 0;
                    }
                    &:first-child{
                        margin: 0;
                        @include mq(sm){
                            margin: 0;
                        }
                    }
                    &>a{
                        color:#FFFFFF;
                        position: relative;
                        display: inline-block;
                        @include mq(sm){
                            color: #707070;
                            display: block;
                            padding: 15px 20px;
                        }
                        &::after{
                            position: absolute;
                            content: '';
                            bottom: -2px;
                            left: 0;
                            width: 0;
                            height: 3px;
                            background: #E81919;
                            transition: all 0.3s ;
                            @include mq(sm){
                                bottom: 22px;
                                left: auto;
                                right: 15px;
                                width: 12px;
                                height: 4px;
                                background: #707070;
                                border-radius: 2px;
                                transform: rotate(-45deg);
                            }
                        }
                        @include mq(sm){
                            &::before{
                                position: absolute;
                                content: '';
                                top: 23px;
                                right: 15px;
                                width: 12px;
                                height: 4px;
                                background: #707070;
                                transition: all 0.3s ;
                                border-radius: 2px;
                                transform: rotate(45deg);
                            }
                        }
                        &:hover::after{
                            width: 100%;
                            @include mq(sm){
                                width: 12px;
                            }
                        }

                    }
                }
            }
        }
    }
}
.mv{
    padding: 98px 0 0;
    @include mq(sm){
        padding-top: calc(39px + 2%);
    }
    .readbox__container{
        position: relative;
        background: url(../img/mainvisual.png) no-repeat center bottom;
        @include mq(sm){
            background-position: top;
        }
    }
    .readbox{
        position:relative;
        top:0;
        left:0;
        width: 800px;
        max-width:95%;
        margin: 0 auto;
        padding: 150px 0 138px;
        text-align: center;
        @include mq(sm){
            padding: 20% 0 20%;
        }
        .readbox__heading01{
            line-height: 1.28;
            font-weight: bold;
            font-size: 6.8rem;
            @include mq(sm){
                font-size: 4rem;
            }
            .readbox__heading01__span{
                display: inline-block;
                text-align: center;
            }
        }
        .readbox__readtext{
            line-height: 1.29;
            margin-top: 13px;
            font-size: 3.8rem;
            font-weight: bold;
            @include mq(sm){
                font-size: 2rem;
            }
            .readbox__readtext__span{
                display: inline-block;
                text-align: center;
            }
        }
        .readbox__btn{
            box-sizing: border-box;
            display: inline-block;
            width: 390px;
            margin: 81px 0 0;
            padding: 18px 20px 16px;
            border-radius: 12px;
            background: #3F51B5;
            color: #FFFFFF;
            line-height: 1.29;
            font-size: 3.8rem;
            font-weight: bold;
            text-align: center;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
            transition: background-color 0.2s;
            &:hover{
                background-color: darken($theme_blue, 10%);
            }
            @include mq(sm){
                width: 80%;
                font-size: 2rem;
            }
            .readbox__btn__text{
                display: inline-block;
                text-align: left;
            }
        }
    }
}


.swiper-container {
    width: 1366px;
    max-width: 100%;
}
.swiper-custom-pagination-bullets{
    margin: 0 6px;
    .swiper-pagination-bullet{
        width: 16px;
        height: 16px;
        background: #E9EEF0;
        opacity: 1;
        &-active{
            background: #2F7DC8;
        }
    }
}



.swiper-custom-button{
    background-image: none !important;
    background: #FFFFFF;
    width: 75px !important;
    height: 75px !important;
    border-radius: 38px;
    color: white;
    font-size: 36px;
    text-align: center;
    line-height: 64px;
    @include mq(sm){
        display: none;
    }
    &::before{
        position: absolute;
        content: "";
        right: 24px;
        top: 27px;
        display: block;
        width: 25px;
        height: 6px;
        background: #656565;
        border-radius: 3px;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    &::after{
        position: absolute;
        content: "";
        right: 24px;
        top: 41px;
        display: block;
        width: 25px;
        height: 6px;
        background: #656565;
        border-radius: 3px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    &.swiper-button-prev{
        right: auto;
        left: 11.42%;
        @include mq(){
            right: auto;
            left: 10px;
        }
        &::before{
            right: 24px;
            top: 41px;
            transform: rotate(45deg);
        }
        &::after{
            right: 24px;
            top: 27px;
            transform: rotate(-45deg);
        }
    }
    &.swiper-button-next{
        right: auto;
        left: 82.87%;
        @include mq(){
            right: 10px;
            left: auto;
        }
    }
}
